.place__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

@media (max-width: 950px) {
  .place__description {
    font-size: 16px;
    line-height: 163%;
  }
}

@media (max-width: 738px) {
  .place__description {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    max-width: 288px;
  }
}
