.photo {
  max-width: 1184px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  margin-top: 92px;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1210px) {
  .photo {
    gap: 14px;
    max-width: 1184px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 92px;
    overflow: hidden;
    justify-content: center;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .photo {
    max-width: 720px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 88px;
    overflow: hidden;
    justify-content: center;
    gap: 16px;
  }
}

@media (max-width: 320px) {
  .photo {
    max-width: 288px;
    gap: 12px;
    margin-top: 64px;
  }
}
